@model IEnumerable<AbstractMotorFactoryServiceDAL.ViewModels.ProductionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список заказов</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeImplement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeImplement)
        </td>
        <td>
            @Html.ActionLink("Отдать на выполнение", "SetStatus", new { id = item.Id, status = "Processing" }) |
            @Html.ActionLink("Заказ готов", "SetStatus", new { id = item.Id, status = "Ready" }) |
            @Html.ActionLink("Заказ оплачен", "SetStatus", new { id = item.Id, status = "Paid" })
        </td>
    </tr>
}

</table>
