@model AbstractMotorFactoryServiceDAL.ViewModels.EngineViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изменение двигателя</h2>

@using (Html.BeginForm("Edit", "Engine", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EngineName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EngineName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EngineName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>
                @Html.ActionLink("Добавить деталь", "AddDetail")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EngineDetails[0].DetailName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EngineDetails[0].Number)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.EngineDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DetailName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.ActionLink("Удалить", "DeleteDetail", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку двигателей", "Index")
</div>