@model IEnumerable<AbstractMotorFactoryServiceDAL.ViewModels.StorageDetailViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Детали на складе</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetailName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Вернуться к списку складов", "Index")
</p>
